<div class="shadow py-1 rounded">
  <div class="py-2" style="text-align: center">
    <button class="btn btn-outline-secondary" style="width: 100%" @onclick="@(() => _isOpened = !_isOpened)">
      @Name
    </button>
  </div>
  @if(_isOpened)
  {
    @ChildContent
  }
</div>

@code {

  bool _isOpened;

  [Parameter]
  public string Name { get; set; } = "";

  [Parameter]
  public RenderFragment ChildContent { get; set; }

}