<SubmitForm OnSubmitted=@(async _ => await OnSubmitted.InvokeAsync(Value))>
  <input type="number" style="width: 70px" id=@_id min="@Min" max="@Max" step=@Step value=@Value @onchange=onChanged />
  <label for=@_id class="form-label">@SuffixText</label>
</SubmitForm>

@code {

  string _id = Guid.NewGuid().ToString();

  [Parameter]
  public int Value { get; set; }

  [Parameter]
  public int Min { get; set; }

  [Parameter]
  public int Max { get; set; }

  [Parameter]
  public int Step { get; set; } = 1;

  [Parameter]
  public string SuffixText { get; set; } = "";

  [Parameter]
  public EventCallback<int> OnChanged { get; set; }

  [Parameter]
  public EventCallback<int> OnSubmitted { get; set; }

  async Task onChanged(ChangeEventArgs e)
  {
    if (int.TryParse(e.Value.ToString(), out var val))
    {
      Value = val;
      await OnChanged.InvokeAsync(Value);
    }
  }

}