<div data-spy="scroll" data-offset="0" class="scroll-info w-100" style="text-align: center">
  <table class="table table-hover" style="table-layout: fixed">
    @if (Header is KeyValuePair<string, string> h)
    {
      <thead>
        <tr>
          <th scope="row" style="width: 50%">@h.Key</th>
          <td>@h.Value</td>
        </tr>
      </thead>
    }
    <tbody>
      @foreach (var x in Body)
      {
        <tr>
          <th scope="row">@x.Key</th>
          @switch(x.Value)
          {
            case StringItem v:
              <td>@v.Value</td>
              break;
            default:
              break;
          }
        </tr>
      }
    </tbody>
  </table>
</div>

@code {

  [Parameter]
  public KeyValuePair<string, string>? Header { get; set; }

  [Parameter]
  public IDictionary<string, IComponent> Body { get; set; }

}