<div data-spy="scroll" data-offset="0" class="scroll-info w-100" style="text-align: center">
  <table class="table table-hover" style="table-layout: fixed;">
    @ChildContent
  </table>
</div>

@code {

  [Parameter]
  public KeyValuePair<string, string>? Header { get; set; }

  [Parameter]
  public RenderFragment ChildContent { get; set; }

}