<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id=@_id value=@Value @onchange=onChanged>
  <label class="form-check-label" for=@_id>@(Value ? TrueText : FalseText)</label>
</div>

@code {

  string _id = Guid.NewGuid().ToString();

  [Parameter]
  public bool Value { get; set; }

  [Parameter]
  public string TrueText { get; set; } = "";

  [Parameter]
  public string FalseText { get; set; } = "";

  [Parameter]
  public EventCallback<ChangeEventArgs> OnChanged { get; set; }

  async Task onChanged(ChangeEventArgs e)
  {
    Value = (bool)e.Value!;
    await OnChanged.InvokeAsync(e);
  }

}